h1{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    background-color: rgb(13, 85, 69);
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}